
body{
    justify-content: center;
}
#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Remove the margin-right for centering horizontally */
h1 {
    margin-top: 1em;
}

.grid-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;


}


label{
    font-size: 1.3em;
    font-weight: bold;

}


.form_field {
    font-family: inherit;
    width:70em;
    border: 0;
    border-bottom: 2px solid #450c66;
    outline: 0;
    font-size: 1.3rem;
    color: white;
    padding: 7px 0;
    background-color: transparent;
    transition: border-color 0.2s;

   
}

.form_field::placeholder {
    color: #c9a5df;
}

.form_field:focus {
    padding-bottom: 6px;
    border-image: linear-gradient(to right, #450c66, #c9a5df);
    border-image-slice: 1;
}

.form_field:active::placeholder {
    color: transparent;
}


.form_field + .form_field {
    margin-top: 1.5em; /* Ajustez la valeur selon l'espace que vous souhaitez entre les champs */
    margin-bottom: 1.5em;
}
.amount_field {
    width: 70em; /* Set the desired width for the amount input field */
    margin-bottom: 1.5em;
}


.button_form{
    margin-top: 3em;
    width: 20em;
    height: 3em;
    border-radius: 1em;
    background-color: #450c66;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.carousel-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em; /* Add some margin between rows */
    
}
