.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

canvas {
    border: 1px solid #ccc;
    margin: 1em;
}

#myChartCash, #myChartCard {
    width: 800px;
    height: 400px;
    border: 1px solid #ccc;
    
}


#deleteData{
    margin-top: 3em;
    width: 15em;
    height: 2.5em;
    border-radius: 1em;
    background-color: #adbee6;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

#deleteDataCheck{
    margin-top: 3em;
    width: 6em;
    height: 2.5em;
    border-radius: 1em;
    background-color: #adbee6;
    color: #adbee6;
    font-size: 1.5em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-left: 1em;
    margin-right:1em ;
}

li{
     width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 2em; 
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.5s;
    border-color: #adbee6;
    color: #adbee6;
}
li:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }

#print h2{
    margin-top: 60px;
    color: #adbee6;
}