.card {
  width: 300px;
  height: 260px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  transition: 0.5s;
  border-color: #450c66;
  color: #fff;
}
  
.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}


#deleteDataCheck{
  margin-top: 3em;
  width: 6em;
  height: 2.5em;
  border-radius: 1em;
  background-color: #450c66;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-left: 1em;
  margin-right:1em ;
}



